
:root {
    --background-color: #F7F7F7;
    --foreground-color: #8FB399;
    --column-background: #E0E0E0;
}

.kanban {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100vh;
    padding: 0 50px 0 50px;
}

.kanban .header {
    text-align: left;
    font-size: 1.5rem;
    flex:0;
}

.kanban .header .title {
    padding: 0;
    margin: 0;
    color: var(--foreground-color);
}

.kanban .header .edit-name:hover {
    cursor: pointer;
}

.kanban .header .description {
    font-size: 1.3rem;
    color: gray;
    padding: 0;
    margin: 0;
}

.kanban .body {
    flex: 3;
    overflow: clip;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.kanban .column {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    min-height: 100%;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--column-background);
    border: 1px solid transparent;
}

.kanban .column header {
    background-color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.kanban .column header .add-task-button  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: .3rem;
    border: 1px solid black;
}

.kanban .column header .add-task-button:hover  {
    cursor: pointer;
}

.kanban .column header .remove-column-button {
    color: red;
}

.kanban .column header .remove-column-button:hover {
    cursor: pointer;
}

.kanban .column .task-list {
    flex: 3;
    padding: 10px;
    list-style: none;
    margin: 0;
}

.kanban .column .task-list:nth-child(n) .task{
    margin-bottom: 10px;
}

.kanban .column .task {
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px gray;
}

.kanban .column .task:hover {
    cursor: grab;
}

.kanban .column .task .header{
    padding: 5px;
    font-size: 1.2rem;
    margin: 0;
}

.kanban .column .task .description {
    padding: 5px;
    font-size: .9rem;
}

.kanban .divider {
    background-color: #E0E0E0;
    height: 1px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.custom-modal {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.custom-modal .custom-modal__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1000000;
}

.custom-modal .custom-modal__overlay .custom-modal__container {
    position: relative;
    background: white;
    width: 70%;
    max-height: 70%;
    max-width: 70%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px gray;
}

.custom-modal .custom-modal__overlay .custom-modal__container .custom-modal__header {
    padding: 10px;
}

.custom-modal .custom-modal__overlay .custom-modal__container .custom-modal__body {
    padding: 10px;
}


.custom-modal .custom-modal__overlay .custom-modal__container .custom-modal__footer {
    padding: 10px;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
}

.is-drag-over {
    border: 1px solid blue !important;
}

.far-away {
    display: flex;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}


label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

input,
textarea {
    font-size: 1rem;
    border: 1px solid #bebebe;
    padding: 5px 6px;
    border-radius: 5px;
    width: 100%;
}

textarea {
    height: 100px;
    max-height: 150px;
    resize: none;
}

.form-control {
    display: inline-block;
    margin-bottom: 20px;
}

.d-flex {
   display: flex;
}

.justify-content-end {
    justify-content: end;
}

.btn {
    background: #E0E0E0;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 8px 15px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.btn-primary {
    background: #8FB399;
    border: 1px solid #8FB399;
    color: white;
}

.input-container {
    position: relative;
}

.input-error {
    position: absolute;
    bottom: 0.2rem;
    right: 0;
    left: 0;
}

.input-error p {
    margin: 0;
    font-size: .8rem;
    color: red;
}

.add-column-button-container {
    padding: 5px;
}

.add-column-button-container:hover {
    cursor: pointer;
}

.column-options-menu {
    position: relative;
    overflow: visible;
}
.column-options-menu .column-options-menu__more-icon:hover {
    cursor: pointer;
}

.column-options-menu .column-options-menu__options-container {
    position: absolute;
    padding: 0;
    top: 0;
    left: 20px;
    width: 200px;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 1px 3px gray;
 }

.column-options-menu .column-options-menu__potions-container--list {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: .9rem;
    font-weight: normal;
}

.column-options-menu .column-options-menu__potions-container--list__option {
   padding: .3rem .5rem .3rem .5rem;
}

.column-options-menu .column-options-menu__potions-container--list__option:hover {
    background-color: #077FFF;
    color: white;
    cursor: pointer;
}

.dots-menu,
.dots-menu button{
    padding: 0 !important;
}
